body {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.gameContainer1{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.mole {
    /*background-color: #736357;*/
    border-radius: 100px;
    height: 10%;
    width: 10%;
    position: absolute;
    right: 100%;
    /*background-image: url(images/mole.png);*/
    background-size: contain;
    background-repeat: no-repeat;
}

/*#leftEar, #rightEar {*/
    /*background-color: #736357;*/
    /*border-radius: 100px;*/
    /*position: absolute;*/
    /*top: -1%;*/
        /*min-width: 30%;*/
    /*padding-top:30%;*/
    /*z-index: -1;*/
/*}*/

/*#leftEar {*/
    /*left: 0px;*/
/*}*/

/*#rightEar {*/
    /*right: 0px;*/
/*}*/


#mole1 {
    top: 9%;
}

#mole2 {
    top: 27%;
}

#mole3 {
    top: 45%;
}

#mole4 {
    top: 63%
}

#mole5 {
    top: 81%
}


.score {
    font-family: roboto, arial, sans-serif;
    font-size: 1.5vw;
    position: absolute;
    right: 2vw;
    text-align: right;
    }

.highScore {
    font-family: roboto, arial, sans-serif;
    font-size: 1.5vw;
    position: absolute;
    left: 1vw;
    text-align: left;
}

.highScoreName {
    font-family: roboto, arial, sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 4vh;
    left: 1vw;
    text-align: left;
}

.congrats {
    font-size: 1vw;
}

input {
    display: inline-block;
    height: 20px;
}
.enterButton {
    width: 5vw;

    background-color: #00e3bb;
    color: #ffffff;
    margin: .3vw .3vw;
    padding: .5vw;
    font-size: 1vw;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}

.tryAgain {
    background-color: #00e3bb;
    color: #ffffff;
    margin: .3vw 0;
    padding: .5vw;
    font-size: 1vw;
    box-sizing: border-box;
}

.startButton {
    height: 3vh;
    width: 14vw;
    font-size: 3vh;
    line-height: 3vh;
    font-family: roboto, arial, sans-serif;
    background-color: #00e3bb;
    color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    left: 50%;
    padding: .5vw;
    text-align: center;
}